body{
font-family: Arial;
background:#f4f4f4;
text-align:center;
}

#chatbox{
width:400px;
height:350px;
border-radius:10px;
border:1px solid #ccc;
margin:auto;
background:white;
padding:10px;
overflow:auto;
}

input{
width:250px;
padding:10px;
border-radius:5px;
border:1px solid #ccc;
}

button{
padding:10px 15px;
background:#4CAF50;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#45a049;
}